[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[mounts]]
source = "hummingbot_data"
destination = "/home/hummingbot/data"

[deploy.env]
PAPER_TRADE = "true"
STRATEGY = "pure_market_making"
